In [11]:
import pandas as pd

In [12]:
df1 = pd.read_csv("./data/data.csv", encoding='cp949')
df2 = pd.read_csv("./data/wellness.csv", encoding='cp949')
df3 = pd.read_csv("./data/chatbot_data.csv", encoding='cp949')

In [13]:
df1.head()

,context,response,score
0,아.. 나 너무 돼지같아,당신은 돼지같지 않아요. 당신은 소중하고 값진 사람이에요.,1
1,아니야 나는 너무 뚱뚱해,당신의 외모는 중요하지 않아요. 무엇보다 건강이 먼저에요. 자신을 사랑하고 존중해주세요.,1
2,이렇게 많이 먹으면 건강도 안 좋아질 걸,건강을 위해서는 균형 잡힌 식습관을 유지하는 것이 중요해요. 조금씩이라도 변화를 줘...,1
3,그러기엔 식욕 제어가 안되는 걸,식욕이 많다는 것은 정상적인 생리적 반응일 수 있어요. 하지만 지나치면 건강에 해로...,1
4,고민해볼게,"네, 언제든지 제가 도움을 줄 준비가 되어있어요. 언제든지 편하게 말씀해주세요.",1

In [14]:
df2.head()

,context,response
0,제 감정이 이상해진 것 같아요. 남편만 보면 화가 치밀어 오르고 감정 조절이 안되요.,감정이 조절이 안 될 때만큼 힘들 때는 없는 거 같아요.
1,더 이상 내 감정을 내가 컨트롤 못 하겠어.,저도 그 기분 이해해요. 많이 힘드시죠?
2,하루종일 오르락내리락 롤러코스터 타는 기분이에요.,"그럴 때는 밥은 잘 먹었는지, 잠은 잘 잤는지 체크해보는 것도 좋아요."
3,평소 다른 일을 할 때도 비슷해요. 생각한대로 안되면 화가 나고…그런 상황이 지속되...,화가 폭발할 것 같을 때는 그 자리를 피하는 것도 좋은 방법이라고 생각해요.
4,예전보다 화내는 게 과격해진 거 같아.,정말 힘드시겠어요. 화는 남에게도 스스로에게도 상처를 주잖아요.

In [ ]:
df2['score'] = 1

In [15]:
df3.head()

           context     response  score
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [17]:
df_con = pd.concat([df1, df2]).reset_index(drop=True)

In [18]:
df_con = pd.concat([df_con, df3]).reset_index(drop=True)

In [16]:
df_con.to_csv('train_data.csv', encoding='cp949', index=False)